/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual Code Starts Here */
:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* ### Neutral */
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body{
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    background-color: var(--main-bg);
    padding: 1rem;
    color: hsl(0, 0%, 100%,40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
}

.container{
    width: 300px;
    background-color: var(--card-bg);
    margin: 20px;
    padding: 1.5rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}

/* adding Hover effect to the image */

.container .image{
    position: relative;
}

.container .main-img{
    border-radius: 15px;
    display: block;
}

.container .image .overlay{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.container .overlay:hover{
    cursor: pointer;
    opacity: 0.6;
}


.container h2{
    font-size: 20px;
    color: var(--white);
    font-weight: 600;
    margin: 1.25rem 0 1.25rem 0;
}

.container h2:hover{
cursor: pointer;
color: var(--cyan);
}

p{
    font-weight: 300;
}

.container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.25rem 0;
    border-bottom: 1px solid var(--line);
}

.container ul li{
    display: flex;
}

.container ul li img{
    margin-right: 0.5rem;
}

.container ul li:first-child{
    color: var(--cyan);
}

.avatar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}

.avatar img{
    width: 2.5rem;
    margin-right: 1rem;
    border:1.5px solid rgb(146, 34, 34);
    border-radius: 50%;
}

.avatar span{
    font-weight: 400;
    color: var(--white);
}

.avatar span:hover{
    color: var(--cyan);
    cursor: pointer;
}

















.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
